In [1]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [3]:
df=pd.read_csv("/Users/aurelientarroux/Desktop/Projet_prog/Projet_2/Data/X_train_N1UvY30.csv")  
df_result=pd.read_csv("/Users/aurelientarroux/Desktop/Projet_prog/Projet_2/Data/y_train_or6m3Ta.csv")   
df=df.merge(df_result, on='obs_id', how='inner')
df

,obs_id,venue,order_id,action,side,price,bid,ask,bid_size,ask_size,trade,flux,eqt_code_cat
0,0,4,0,A,A,0.30,0.00,0.01,100,1,False,100,10
1,0,4,1,A,B,-0.17,0.00,0.01,100,1,False,100,10
2,0,4,2,D,A,0.28,0.00,0.01,100,1,False,-100,10
3,0,4,3,A,A,0.30,0.00,0.01,100,1,False,100,10
4,0,4,4,D,A,0.37,0.00,0.01,100,1,False,-100,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16079995,160799,4,61,D,A,1.32,0.01,0.06,735,261,False,-100,5
16079996,160799,0,70,A,A,0.06,0.01,0.06,735,361,False,100,5
16079997,160799,4,71,A,A,1.26,0.01,0.06,735,361,False,100,5
16079998,160799,4,72,A,A,1.26,0.01,0.06,735,361,False,100,5
16079999,160799,4,73,A,B,0.00,0.01,0.06,635,361,False,1,5

In [4]:
df['flux']=df['flux'].apply(abs)
df['bid_ask_spread']=df['ask']-df['bid']

In [5]:
df_test=(df[['eqt_code_cat','obs_id']]).drop_duplicates()
df_test.reset_index(drop=True,inplace=True)

In [6]:
df_test['mean_bid']=pd.DataFrame(df.groupby('obs_id')['bid'].mean())
df_test['mean_ask']=pd.DataFrame(df.groupby('obs_id')['ask'].mean())
df_test['mean_price']=pd.DataFrame(df.groupby('obs_id')['price'].mean())
df_test['mean_bid_size']=pd.DataFrame(df.groupby('obs_id')['bid_size'].mean())
df_test['mean_ask_size']=pd.DataFrame(df.groupby('obs_id')['ask_size'].mean())
df_test['mean_flux']=pd.DataFrame(df.groupby('obs_id')['flux'].mean())
df_test['mean_bid_ask_spread']=pd.DataFrame(df.groupby('obs_id')['bid_ask_spread'].mean())

In [7]:
df_test['std_bid']=pd.DataFrame(df.groupby('obs_id')['bid'].std())
df_test['std_ask']=pd.DataFrame(df.groupby('obs_id')['ask'].std())
df_test['std_price']=pd.DataFrame(df.groupby('obs_id')['price'].std())
df_test['std_bid_size']=pd.DataFrame(df.groupby('obs_id')['bid_size'].std())
df_test['std_ask_size']=pd.DataFrame(df.groupby('obs_id')['ask_size'].std())
df_test['std_flux']=pd.DataFrame(df.groupby('obs_id')['flux'].std())
df_test['std_bid_ask_spread']=pd.DataFrame(df.groupby('obs_id')['bid_ask_spread'].std())

In [8]:
df['ecart_bid_ask']=df['ask']-df['bid']

In [9]:
result_action = pd.DataFrame(df.groupby('obs_id')['action'].value_counts().unstack(fill_value=0))
df_test['compte_A']=result_action.loc[:,'A']
df_test['compte_delete']=result_action.loc[:,'D']
df_test['compte_update']=result_action.loc[:,'U']

In [10]:
result_place = pd.DataFrame(df.groupby('obs_id')['venue'].value_counts().unstack(fill_value=0))
for venue in range(6):
    df_test['compte '+str(venue)]=result_place.loc[:,venue]

In [11]:
result_side = pd.DataFrame(df.groupby('obs_id')['side'].value_counts().unstack(fill_value=0))
df_test['compte_ask']=result_side.loc[:,'A']
df_test['compte_bid']=result_side.loc[:,'B']

In [12]:
result_trade = pd.DataFrame(df.groupby('obs_id')['trade'].value_counts().unstack(fill_value=0))
df_test['compte_trade']=result_trade.loc[:,True]
df_test.head()

,eqt_code_cat,obs_id,mean_bid,mean_ask,mean_price,mean_bid_size,mean_ask_size,mean_flux,mean_bid_ask_spread,std_bid,std_ask,std_price,std_bid_size,std_ask_size,std_flux,std_bid_ask_spread,compte_A,compte_delete,compte_update,compte 0,compte 1,compte 2,compte 3,compte 4,compte 5,compte_ask,compte_bid,compte_trade
0,10,0,0.0000,0.0152,0.0535,190.60,161.31,76.03,0.0152,0.000000,0.005021,0.172588,124.436670,154.797143,54.380525,0.005021,51,49,0,5,14,13,2,59,7,48,52,0
1,15,1,0.0134,0.0526,-0.0257,290.94,239.10,77.98,0.0392,0.010466,0.009705,0.182791,255.645778,145.143433,51.998636,0.006917,49,43,8,6,7,10,5,51,21,32,68,3
2,0,2,0.0000,0.0107,0.0120,1902.15,833.00,120.72,0.0107,0.000000,0.002564,0.054198,1000.166505,660.892418,91.782800,0.002564,54,46,0,11,2,1,23,44,19,56,44,1
3,13,3,0.0690,0.2000,0.1797,275.13,115.65,53.42,0.1310,0.046482,0.000000,0.233677,284.920037,71.919059,52.366074,0.046482,50,49,1,18,18,11,1,43,9,84,16,0
4,0,4,0.0097,0.0271,0.0193,143.15,858.01,114.37,0.0174,0.001714,0.005183,0.059768,116.800043,572.350135,54.695236,0.004408,48,52,0,19,9,2,10,42,18,53,47,0

In [13]:

X=df_test.drop(columns=['eqt_code_cat','obs_id'],axis=1)
y=df_test['eqt_code_cat']

In [14]:

import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


# Division des donnÃ©es en ensembles d'entraÃ®nement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# CrÃ©ation du modÃ¨le XGBoost pour la classification
model = xgb.XGBClassifier(objective='multi:softmax')

# EntraÃ®nement du modÃ¨le
model.fit(X_train, y_train)

# PrÃ©dictions
y_pred = model.predict(X_test)

# Ã‰valuation des performances
accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

0.42431592039800997

In [6]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import GRU, Dense, Embedding
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import LabelEncoder, StandardScaler

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = Sequential()

# Couche GRU bidirectionnelle
model.add(GRU(64, return_sequences=True, input_shape=(100, 30)))
model.add(GRU(64))

# Couches denses
model.add(Dense(64, activation='selu'))
model.add(Dense(24, activation='softmax'))  # 24 classes pour les 24 actions

# Compilation du modÃ¨le
model.compile(optimizer=Adam(learning_rate=0.003), loss='sparse_categorical_crossentropy', metrics=['accuracy'])

model.fit(X_train, Y_train, epochs=10, batch_size=1000)

/Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)